<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Add Customer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar" style="background-color:#4169e1">
    <a class="navbar-brand" href="#">
        <img th:src="@{/logo-white.svg}" width="50" height="30" alt="">
    </a>
</nav>
<div class="container">
	<h1>Add new customer</h1>
    <form action="#" th:action="@{/submitCustomer}" th:object="${customer}" method="post">
        <p>first name : <input class="form-control" type="text" th:field="*{f_name}" /></p>
    	<p>last name: <input class="form-control" type="text" th:field="*{l_name}" /></p>
    	<p>email: <input class="form-control" type="text" th:field="*{email}" /></p>
    	<p>phone: <input class="form-control" type="text" th:field="*{phone}" /></p>
    	<p>cif: <input class="form-control" type="text" th:field="*{cif}" /></p>
        
        <p><input type="submit" value="Submit" class="btn btn-default"/> <input type="reset" value="Reset" class="btn btn-default"/></p>
    </form>
</div>
</body>
</html>